.background-image-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.center-div{
    position: absolute;
    top:75%;
    left: 20%;
    transform: translate(-50%, -50%);
    border: 0.4em inset #009688
    text-align: center;
}
body {
    margin: 0; /* body의 기본 margin 제거 */
    padding: 0; /* body의 기본 padding 제거 */
    height: 100vh; /* 화면 전체 높이를 100vh로 설정 */
    display: flex;
    flex-direction: column;
}
.mb{
  margin-bottom: 0.5rem !important;
}
.mt-logo-center{
  margin-top: 1rem !important;
  text-align: center;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn{
    border-radius: 0.25rem;
    text-align: center;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  width: ;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}