.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-5 {
  width: 100px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}
@font-face {
    font-family: 'WarhavenB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/WarhavenB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TTHakgyoansimYeohaengR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimYeohaengR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.header{
    display: flex;
    background-color: #000000;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.liv-logo{
    width:120px;
    height:147;
}
.pl-logo{
    width:200px;
    height:147;
}
.uel-logo{
    width:100px;
    height:147;

}
.cflc-logo{
    width:90px;
    height:147;
}
.facup-logo{
    width:150px;
    height:147;
}
body {
    margin: 0; /* body의 기본 margin 제거 */
    padding: 0; /* body의 기본 padding 제거 */
    min-height: 100vh; /* 화면 전체 높이를 100vh로 설정 */
}
*{
    margin:0;
    padding:0;
}

.font-white{
    color: white;
}
.text-center{ text-align: center; }
.mb1{ margin-bottom : 0.5rem; }
.mb2{ margin-bottom : 1rem; }
.mt1{ margin-top : 0.5rem; }
.mt2{ margin-top : 1rem; }
.w70 {width:70px; }
.w600 {width:600px; }
.w130 {width:130px; }
.w170 {width:170px; }
.w100 {width:100px; }
.fl {float:left; }
.fr {float:right; }
.tc {text-align:center; }
li{
    list-style:none;
    float: left;
}
a{
    text-decoration:none;
}
.nav-menu{
    width:80%;
    height:30px;
    background-color: #B22222;
    overflow:hidden;
    margin: 0px auto;
    display: flex;
    border-radius:20px;
    justify-content: space-evenly;
    align-items: center;
}

.nav-menu a{
    font-family: 'WarhavenB';
    color: #fff;
}

.nav-menu > span:hover {
  background-color: #660000;
  transition-duration: 1s;
}

.container{
    display: flex;
    width:100%;
    height:100vh;
    justify-content: space-between;
    margin-top:30px;
}
.advertisement{
    width:200px;
    height:100vh;
}
.section{
    font-family: 'Orbit-Regular';
    width:1080px;
    height:100vh;
}
.w-button{
    display: flex;
    width:100%;
    justify-content: flex-end;
}

.articles{
    width: 1080px;
    height: 40px;
    border-top: 1px solid #B22222;
    border-bottom: 1px solid #B22222;
}
.articles-sub{
    width: 1080px;
    height: 30px;
}
.articles-sub a:hover{
    text-decoration: underline;
}
.title {
   height: 40px;
   line-height: 40px;
   background: #ffffff;
   font-weight: bold;
   color: #000000;
}
.list {
   height: 30px;
   line-height: 30px;
   background: #ffffff;
   color: #000000;
   border-bottom: 0.5px solid #000000;
}

.aside{
    width:350px;
    height:100vh;
}
.container-side{
    font-family: 'TTHakgyoansimYeohaengR';
    width: 230px;
    height: 300px;
    text-align: center;
    background: linear-gradient(to bottom, #ff0000, #ffffff);
    border-radius:10px;
    padding:10px 10px;
}
.userinfo{
    margin:25px auto;
}
.userinfo p{
    color:#ffffff;
    font-size: 23px;
}
.logout-btn{
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    background: #f0094a;
    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.my-profile{
    border: none;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.logo2{
    width:80px;
    height:80px;
    text-align: center;
    background-image: url('/img/LIVLOGO2.png');
    background-size: cover;
    margin: 0px auto;
    border-radius:50%;
}