@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700&display=swap");
@keyframes zoomOut {
    0% { background-size: 110%; }
    100% { background-size: 100%;}
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration:none;
}
p{
    margin:0;
}
li{
    list-style:none;
    float: left;
}
html {
    height:100%;
}
th,td{
    padding:10px;
}
body {
    height:100%;
    margin:0;
    border:0;
    padding:0;
    font-family: 'KCC-Hanbit';
    background-image: url('/img/Anfield-gpt.png');
    background-size: cover; /* 이미지가 컨테이너 전체에 꽉 차도록 설정 */
    background-position: center; /* 이미지를 중앙에 위치시킵니다 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-5 {
  width: 100px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}
.position-a{ position:absolute; }
.right175 {right:175px;}
.bg-white{ background-color:white;}
.dpFlex { display:flex; }
.jsSB { justify-content: space-between !important; }
.column { flex-direction: column; }
.alignTop{
    display:flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content:center;
    flex-direction:column; /* 수평 중앙 정렬 */
    margin:auto;
}
.alignCenter{
    display:flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: auto; /* 중앙에 배치 */
}
.alignColumn{
    display:flex;
    align-items: center; /* 수직 중앙 정렬 */
    flex-direction:column; /* 수평 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: auto; /* 중앙에 배치 */
}
.justifyCenter{justify-content:center;}
.font-black{ color:black !important; }
.fontWhite{ color:white !important;}
.font-size12{ font-size:12px; }
.font-size14{ font-size:14px; }
.font-size16{ font-size:16px !important; }
.font-size20{ font-size:20px !important; }
.font-size25{ font-size:25px !important; }
.font-size30{ font-size:30px !important; }
.pd5{ padding:5px; }
.pd8{ padding:8px; }
.w1p{ width:1%; }
.w9p{ width:9%; }
.w10p { width:10%; }
.w20p { width:20%; }
.w50p { width:50%; }
.w60p { width:60%; }
.w70p { width:70%; }
.w80p { width:80%; }
.w10 { width:10px !important;}
.w15 { width:15px; }
.w20 { width:20px !important;}
.w30 { width:30px; }
.w35 { width:35px; }
.w40 { width:40px; }
.w45 { width:45px; }
.w50 { width:50px !important; }
.w55 { width:55px; }
.w60 { width:60px; }
.w70 { width:70px; }
.w80 { width:80px; }
.w85 { width:85px; }
.w120 { width:120px !important; }
.w140 { width:140px; }
.w150 { width:150px !important; }
.w170 { width:170px; }
.w180 { width:180px; }
.w190 { width:190px; }
.w100 { width:100px; }
.w200 { width:200px; }
.w230 { width:230px; }
.w260 { width:260px; }
.w500 { width:500px; }
.w550 { width:550px; }
.w600 { width:600px; }
.w1000 { width:1000px; }
.w100p { width:100%; }
.h50p { height: 50%; }
.h100p { height: 100%; }
.h10 { height:10px !important; }
.h20 { height:20px !important;}
.h15 { height:15px; }
.h20 { height:20px; }
.h30 { height:30px; }
.h50 { height:50px !important; }
.h60 { height:60px; }
.h70 { height:70px !important; }
.h120 { height:120px !important;}
.h140 { height:140px; }
.h150 { height:150px !important;}
.h600 { height:600px; }
.mb0{ margin-bottom:0.5rem; }
.mb1{ margin-bottom:1rem; }
.mr1{ margin-right:1rem; }
.mr2{ margin-right:2rem; }
.ml0 { margin-left:0.5rem; }
.ml1 { margin-left:1rem; }
.ml2 { margin-left:2rem; }
.mt10 { margin-top: 10px; }
.mt5{ margin-top:5rem !important;}
.border-bottom1 { border-bottom: 1px solid black; }
.border-circle { border-radius : 50% !important; }
.wrap {
    position:relative;
    top:0;
    width:100%;
    height:100%;
    transition: 0.5s;
}
.container {
    width:100%;
    height:100%;
}
.container:nth-child(2){
    background-size: cover; /* 이미지가 컨테이너 전체에 꽉 차도록 설정 */
    background-position: center; /* 이미지를 중앙에 위치시킵니다 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('/img/klopp_wallpaper.jpg');
    animation: zoomOut 7s;
}
.container {
    width: 100%;
    height: 100%; /* 뷰포트 높이에 맞춤 */
    overflow: hidden;
    position: relative;
}
.header-box{
    top: 0; /* 상단에 위치 */
    position:fixed;
    z-index: 1000;
    padding: 0 20px; /* 양쪽 패딩 */
    box-sizing: border-box; /* 패딩 포함 너비 계산 */
    width:100%;
    background: rgba(0, 0, 0); /* 투명한 검정색 배경 */
    justify-content:space-around !important;
    header:70px;
}
header{
    width: 100%; /* 컨테이너 너비와 동일 */
    height: 130px; /* 헤더의 높이 설정 */
}

nav{
    width:600px;
    display:flex;
}
nav > a{
    text-align:center;
    width:25%;
    color: white;
    font-size: 15px;
}
nav > a:hover{
    font-size:17px;
    color: #ff3300;
    transition-duration: 0.5s;
}
.videoList{
    position:absolute;
    top:30%;
    display: flex;
    margin:10px;
    z-index: 1000;
}
footer{
    height: 10%;
    width:100%;
    background: rgba(0, 0, 0); /* 투명한 검정색 배경 */
    bottom: 0;
    z-index: 1000; /* 다른 요소 위에 렌더링 */
}
.logo img{
    width: 150px;
    height:auto;
}
.login{
    display: flex;
    width:300px;
    align-items:center;
}
/* 기본 버튼 스타일 */
.button {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.3); /* 투명도를 포함한 흰색 */
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'KCC-Hanbit', sans-serif; /* 폰트 적용 */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.button i{
    color:#555;
}
/* 호버 효과 */
.button:hover {
    background-color: rgba(255, 255, 255, 0.2) !important; /* 호버 시 밝기 증가 */
    color: #ff3300 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
}

.user-info {
    width:300px;
    display:flex;
    align-items: center; /* 수직 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: auto; /* 중앙에 배치 */
}
.user-info p{
    font-size: 16px;
    color:white;
}
.slider {
    width: 300%; /* 슬라이드 수에 따라 조정 */
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides {
    width: calc(100% / 3); /* 3개의 슬라이드 */
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: zoomOut 7s infinite;
}
.profile-container{
    text-align:center;
    align-items:center;
    background-color: rgba(52, 58, 64, 0.9); /* 50% 투명도 */
    border:3px solid black;
    border-radius: 20px;
    position:absolute;
    width: 400px;
    height: 600px;
    left: 50%;
    margin-left: -150px;
    top: 17%;
}
.profile{
    display: flex;
    width: 390px;
    height: 340px;
    margin: 15px 5px 5px 5px;
}
.profile .left{
    width: 90px;
    height: 100%;
    border-right: 1px solid white;
}
.profile .left > p{
    margin-bottom: 30px;
    color: white;
}
.profile .right{
    width: 300px;
    height: 100%;
}
.profile .right > p{
    margin-bottom: 30px;
    margin-left: 10px;
    text-align: left;
    color: white;
}
.profile .right > input{
    margin-bottom: 30px;
    margin-left: 10px;
    text-align: left;
    color: black;
}
.profile .right .btn{
    display:flex;
    justify-content:flex-end;
    margin-right:5px;
}

.listContainer{
    border-radius:5%;
    margin-top:40px;
    background-color: rgba(255,255,255,0.9); /* 투명도 50%의 흰색 */
    width: 1500px;
    height: 750px;
}
.listContainer > .side-nav{
    width:300px;
    height:100%;
    border-right:3px solid black;
}
.title{
    line-height: 40px;
    height:40px;
    background-color: #C0C0C0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.list{
    line-height:50px;
    height:50px;
    color : black;
    border-bottom: 1px solid black;
}
.list a{
    color: black;
}
.list a:hover{
    text-decoration: underline;
    text-decoration-color: black; /* 밑줄 색상 */
    text-decoration-thickness: 2px; /* 밑줄 두께 */
    text-decoration-style: solid; /* 밑줄 스타일 */
}
.articleList {
    height: 680px;
    width:1200px;
}
.listContainer .tap-nav{
    height: 700px;
    width: 200px;
    flex-direction:column !important;
}
.listContainer .tap-nav a{
    display:flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: auto; /* 중앙에 배치 */
    width: 100%;
    height:20%;
    padding:10px;
    margin:5px;
    color: black;
    border-radius : 10px;
}
.listContainer .tap-nav a:nth-child(1) { background-color: red; }
.listContainer .tap-nav a:nth-child(2) { background-color: blue; }
.listContainer .tap-nav a:nth-child(3) { background-color: green; }
.listContainer .tap-nav a:nth-child(4) { background-color: black; }
.listContainer .top{
    display:flex;
    justify-content:space-between;
    margin:auto;
    width:95%;
    height: 50px;
}
.listContainer .top p{
    margin:10px;
    padding-right: 350px;
    font-size:20px;
}
.searchInput{
    width:250px;
    height: 40px;
    border-radius: 10px;
    padding: 0 40px 0 10px;
    color: #333; /* 글자색을 어두운 회색으로 변경 */
    box-sizing: border-box;
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
    border: 1px solid #444; /* 경계선 추가, 색상은 어두운 회색 */
}
.searchInput:focus {
    border-color: #d32f2f; /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 8px rgba(211, 47, 47, 0.25); /* 포커스 시 그림자 효과 추가 */
}
.search-box {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.paging{
    display: flex;
    justify-content:center;
    align-items:end;
    justify-content: space-around;
    width: 100%;
}
.paging a{
    color: black;
}
.paging div{
    max-width:50px;
    display:flex;
    justify-content: space-evenly;
    background-color:
}
.paging div span, a{
    padding:5px;
}
.paging a:hover{
    font-size:17px;
    text-decoration: underline;
    text-decoration-color: black; /* 밑줄 색상 */
    text-decoration-thickness: 2px; /* 밑줄 두께 */
    text-decoration-style: solid; /* 밑줄 스타일 */
    transition-duration: 0.5s;
}
section{
    width: 100%;
    height: 80%;
    margin-top: 20px;
}
article{
    width: 1200px;
    margin:auto;
    max-height: 900px;
    height: auto;
    background-color: rgba(255,255,255,0.9); /* 투명도 50%의 흰색 */
    border-bottom: 3px solid black;
    overflow-y:auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
section::-webkit-scrollbar {
    display: none;
}
article .titleContainer{
    width: 100%;
    height: 220px;
    border-bottom: 3px solid black;
}
article .titleContainer .top{
    background-color:#C0C0C0;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 30px;
    border-bottom : 1px dotted black;
    height:50px;
}
article .titleContainer .top > span{
    font-size : 25px;
}
article .titleContainer .top > p{
    font-size : 20px;
}
.author{
    align-content:center;
    padding:5px 20px;
    display:flex;
    justify-content:space-between;
    height : 100px;
}
.author p,
.author a{
    font-size:16px;
    display:flex;
    align-items:center;
    color:black;
}
.author div{
    display: flex;
    justify-content: center; /* 수평 방향으로 중앙 정렬 */
    align-items: center;     /* 수직 방향으로 중앙 정렬 */
}
table {
    width: 300px;
    border-collapse: collapse; /* 테이블의 경계선을 하나로 합침 */
    text-align: center; /* 테이블 내 텍스트를 가운데 정렬 */
}
.contentContainer{
    height: auto;      /* 높이를 내용에 따라 자동 조절 */
    min-height: 400px; /* 최소 높이를 100px로 설정 (필요에 따라 조절) */
    border: 1px solid #ccc; /* 시각적으로 구분하기 위한 테두리 (필요에 따라 제거 또는 변경) */
    padding: 10px;     /* 패딩을 추가하여 내용과 테두리 사이 간격을 설정 */
    box-sizing: border-box; /* 패딩과 테두리가 전체 높이와 너비에 포함되도록 설정 */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;     /* 수직 중앙 정앙 */
    flex-direction: column;  /* 요소를 세로로 쌓음 */
}
.contentContainer pre{
    padding:10px;
    width:95%;
    font-size: 14px;
    white-space: pre-wrap;       /* CSS3 */
    white-space: -moz-pre-wrap;  /* Firefox */
    white-space: -pre-wrap;      /* Opera <7 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* IE */
    font-family: 'KCC-Hanbit', sans-serif; /* 폰트 적용 */
}
.articleImageContainer{
    display: flex;
    align-items:center;
    height : 300px;
}
.articleImageContainer img{
    width: 250px;
    height: 141px;
}
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}
.modal-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}
.modal-content img {
    max-width: 100%;
    height: auto;
    display: block;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
}
.clickable{
    cursor: pointer;
}
.commentContainer{
    width: 100%;
    height:auto;
    min-height:200px;
    border:1px solid black;
}
.comment-top{
    display:flex;
    flex-direction:column;
    width: 100%;
    margin:5px;
}
.comment-list{
    width:100%;
    height:auto;
    mint-height:100px;
}
.comment-layout{
    height:auto;
    width:1200px;
    min-height:30px;
    border-bottom: 1px solid black;
}
.comment-layout pre{
    font-size: 14px;
    white-space: pre-wrap;       /* CSS3 */
    white-space: -moz-pre-wrap;  /* Firefox */
    white-space: -pre-wrap;      /* Opera <7 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* IE */
    font-family: 'KCC-Hanbit', sans-serif; /* 폰트 적용 */
}
/* 폼과 내부 요소 스타일링 */
.article-Form {
    width:80%;
    margin:auto;
    background-color: #2d2d2d; /* 짙은 회색으로 배경 변경 */
    padding: 25px;
    border-radius: 10px; /* 모서리를 더욱 둥글게 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6); /* 그림자를 더 깊게 조정 */
}

.titleInput, .contentInput {
    width: 100%;
    padding: 12px; /* 패딩 증가 */
    margin-top: 12px; /* 상단 여백 조정 */
    border: 1px solid #444; /* 경계선 추가, 색상은 어두운 회색 */
    border-radius: 5px; /* 모서리 둥근 정도 변경 */
    background-color: #fff; /* 배경색을 흰색으로 변경 */
    color: #333; /* 글자색을 어두운 회색으로 변경 */
    box-sizing: border-box;
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
}

.titleInput:focus, contentInput:focus {
    border-color: #d32f2f; /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 8px rgba(211, 47, 47, 0.25); /* 포커스 시 그림자 효과 추가 */
}

input[type="file"] {
    color: #fff;
    background-color: #444; /* 파일 선택 버튼의 배경색 변경 */
    border: none; /* 테두리 없애기 */
    padding: 10px 15px; /* 패딩 조정 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 포인터 변경 */
    transition: background-color 0.3s ease; /* 배경색 변화에 부드러운 전환 효과 적용 */
}

input[type="file"]:hover {
    background-color: #666; /* 호버 시 배경색 변경 */
}
.info-table{
    width: 1500px;
    max-height: 900px;
    margin:auto;
    background: rgba(26, 26, 26, 1.0);
    border-radius: 20px;
}
.info-table > .top{
    width:100%;
    height: 150px;
    border-bottom: 1px solid black;
    display:flex;
    align-items:center;
}
.info-table > .top img{
    width: 75px;
    height: auto;
}
.info-table > .top p{
    color: white;
    font-size: 30px;
}
.info-table > .bottom {
    width:1500px;
    height:800px;
    display:flex;
}
.standing-box{
    margin:10px;
    width: 50%;
    font-size: 20px;
}
.playerList{
    overflow-y:auto;
    width:1200px;
    max-height:750px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    display:flex;
}
.team-nav{
    width:300px;
    height:auto;
}
.GK-box,
.DF-box,
.MF-box,
.FW-box{
    width:235px;
    height:auto;
    padding:15px;
}
.GK-box div,
.DF-box div,
.MF-box div,
.FW-box div{
    display:flex;
    align-items:center;
    padding:10px;
}
.GK-box div img,
.DF-box div img,
.MF-box div img,
.FW-box div img{
    width:40px;
    height:auto;
}
.GK-box div a,
.DF-box div a,
.MF-box div a,
.FW-box div a{
    margin-left: 10px;
    font-size:15px;
    color: white;
}
.flagContainer{
    display:flex;
}
.standing-box div{
    text-align:center;
    color:white;
    font-size:16px;
}
.standings{
    max-height:600px;
    overflow-y:auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.standings-list{
    transition: background 0.5s ease-in-out;
    align-items:center;
    display:flex;
    text-align:center;
    font-size:16px;
    color: white;
    height: 50px;
}
.standings-list p{
    margin:5px;
}
.standings-list a{
    color: white;
}
.standings-list img{
    width : 30px;
    height : 30px;
}
.standings-list:hover{
    background: rgba(46, 46, 46, 1.0); /* 기존 색보다 밝은 색으로 변경 */
    border-radius:10px;
}
.top-position{
    background-color:#adff2f;
    border-radius: 30%;
    height: 40px;
}
.middle-position{
    background-color:#ff8c00;
    border-radius: 30%;
    height: 40px;
}
.bottom-position{
    background-color:red;
    border-radius: 30%;
    height: 40px;
}

.league-position span::before {
    content: ""; /* 가상 요소의 내용은 비어 있음 */
    display: inline-block; /* 네모 박스를 인라인 블록으로 표시 */
    width: 10px; /* 네모 박스의 너비 */
    height: 10px; /* 네모 박스의 높이 */
    background-color: #555; /* 네모 박스의 배경 색 */
    margin-right: 8px; /* 텍스트와 네모 박스 사이의 마진 */
    margin-left: 10px;
}

/* 예시: 챔피언스 리그, 유로파 리그, 강등권에 따른 색상 변경 */
.league-position span:nth-child(1)::before { background-color: #adff2f; } /* 챔피언스 리그 - 파란색 */
.league-position span:nth-child(2)::before { background-color: #ff8c00; } /* 유로파 리그 - 녹색 */
.league-position span:nth-child(3)::before { background-color: red; } /* 강등권 - 빨간색 */

.stat-box{
    width:50%;
    height:80%;
    margin: 8px;
}
.rank-box{
    width:48%;
    margin-right:10px;
    margin-top:20px;
    padding:10px;
    background-color: #1a1a2e;
    border-radius:20px;
}
.top-score{
    display:flex;
    align-items:center;
    width:100%;
    height:19%;
}
.top-score img,
.top-assist img,
.top-keyPass img,
.top-rating img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.top-assist{
    display:flex;
    align-items:center;
    width:100%;
    height:19%;
}
.top-keyPass{
    display:flex;
    align-items:center;
    width:100%;
    height:19%;
}
.top-rating{
    display:flex;
    align-items:center;
    width:100%;
    height:19%;
}
.bg-circle-red{
    background-color: red; /* 원하는 배경색으로 변경 */
    border-radius: 50%; /* 동그랗게 만들기 */
    width: 40px; /* 원하는 너비 */
    height: 40px; /* 원하는 높이 */
}
.2x2table{
    width:400px !important;
    height:100px !important;
}

.player-table > .top{
    border-bottom: 1px solid black;
}

.player-card {
    background-color: #fff;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin:auto;
}

.player-info {
    padding: 20px;
    text-align: center;
    background-color: #e0e0e0;
}

.team-logo {
    width: 50px;
    float: left;
    margin-left:20px;
}

.player-photo {
    width: 100px;
    border-radius: 50%;
}
.player-number{
    width: 70px;
    float: right;
    top:0;
}
.player-name {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.player-details {
    margin-left: 15px;
    font-size: 16px;
    color: #555;
}

.country-flag {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.player-stats {
    padding: 20px;
    color: #fff;
}

.player-stats h3 {
    margin-top: 0;
}

.player-stats table {
    width: 100%;
    border-collapse: collapse;
}

.player-stats th, .player-stats td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.player-stats td:last-child {
    text-align: right;
}


