@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700&display=swap");
@keyframes zoomOut {
    0% { background-size: 110%; }
    100% { background-size: 100%;}
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration:none;
}
p{
    margin:0;
}
li{
    list-style:none;
    float: left;
}
html {
    height:100%;
    overflow-y:auto;
}
th,td{
    padding:10px;
}
body {
    height:100%;
    margin:0;
    border:0;
    padding:0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    background-image:url('/img/Anfield-gpt.png');
    background-size: cover; /* 이미지가 컨테이너 전체에 꽉 차도록 설정 */
    background-position: center; /* 이미지를 중앙에 위치시킵니다 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-5 {
  width: 100px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}
.position-a{ position:absolute; }
.right175 {right:175px;}
.bg-white{ background-color:white;}
.bg-black{ background-color:black;}
.dpFlex { display:flex; }
.jsSB { justify-content: space-between !important; }
.column { flex-direction: column; }
.alignTop{
    display:flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content:center;
    flex-direction:column; /* 수평 중앙 정렬 */
    margin:auto;
}
.alignCenter{
    display:flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: auto; /* 중앙에 배치 */
}
.alignColumn{
    display:flex;
    align-items: center; /* 수직 중앙 정렬 */
    flex-direction:column; /* 수평 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: auto; /* 중앙에 배치 */
}
.justifyCenter{justify-content:center;}
.font-black{ color:black !important; }
.fontWhite{ color:white !important;}
.font-size12{ font-size:12px; }
.font-size14{ font-size:14px; }
.font-size16{ font-size:16px !important; }
.font-size20{ font-size:20px !important; }
.font-size25{ font-size:25px !important; }
.font-size30{ font-size:30px !important; }
.pd5{ padding:5px; }
.pd8{ padding:8px; }
.w1p{ width:1%; }
.w9p{ width:9%; }
.w10p { width:10%; }
.w20p { width:20%; }
.w50p { width:50%; }
.w60p { width:60%; }
.w70p { width:70%; }
.w80p { width:80%; }
.w10 { width:10px !important;}
.w15 { width:15px; }
.w20 { width:20px !important;}
.w30 { width:30px; }
.w35 { width:35px; }
.w40 { width:40px; }
.w45 { width:45px; }
.w50 { width:50px !important; }
.w55 { width:55px; }
.w60 { width:60px; }
.w70 { width:70px; }
.w80 { width:80px; }
.w85 { width:85px; }
.w120 { width:120px !important; }
.w140 { width:140px; }
.w150 { width:150px !important; }
.w170 { width:170px; }
.w180 { width:180px; }
.w190 { width:190px; }
.w100 { width:100px; }
.w200 { width:200px; }
.w230 { width:230px; }
.w260 { width:260px; }
.w400 { width:400px; }
.w500 { width:500px; }
.w550 { width:550px; }
.w600 { width:600px; }
.w1000 { width:1000px; }
.w100p { width:100%; }
.h50p { height: 50%; }
.h100p { height: 100%; }
.h10 { height:10px !important; }
.h20 { height:20px !important;}
.h15 { height:15px; }
.h20 { height:20px; }
.h30 { height:30px; }
.h50 { height:50px !important; }
.h60 { height:60px; }
.h70 { height:70px !important; }
.h120 { height:120px !important;}
.h140 { height:140px; }
.h150 { height:150px !important;}
.h600 { height:600px; }
.h550 { height:550px; }
.mb0{ margin-bottom:0.5rem; }
.mb1{ margin-bottom:1rem; }
.mr1{ margin-right:1rem; }
.mr2{ margin-right:2rem; }
.ml0 { margin-left:0.5rem; }
.ml1 { margin-left:1rem; }
.ml2 { margin-left:2rem; }
.mt10 { margin-top: 10px; }
.mt5{ margin-top:5rem !important;}
.border-bottom1 { border-bottom: 1px solid black; }
.border-circle { border-radius : 50% !important; }
.wrap {
    position:relative;
    top:0;
    width:100%;
    height:100%;
    transition: 0.5s;
}
.container {
    width:100%;
    height:100%;
}
.container:nth-child(2){
    background-size: cover; /* 이미지가 컨테이너 전체에 꽉 차도록 설정 */
    background-position: center; /* 이미지를 중앙에 위치시킵니다 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('/img/klopp_wallpaper.jpg');
    animation: zoomOut 7s;
}
.container {
    width: 100%;
    height: 100%; /* 뷰포트 높이에 맞춤 */
    overflow: hidden;
    position: relative;
}
.header-box{
    top: 0; /* 상단에 위치 */
    position:fixed;
    z-index: 1000;
    padding: 0 20px; /* 양쪽 패딩 */
    box-sizing: border-box; /* 패딩 포함 너비 계산 */
    width:100%;
    background: rgba(0, 0, 0); /* 투명한 검정색 배경 */
    justify-content:space-around !important;
    header:70px;
}
header{
    width: 100%; /* 컨테이너 너비와 동일 */
    height: 130px; /* 헤더의 높이 설정 */
}

nav{
    width:600px;
    display:flex;
}
nav > a{
    text-align:center;
    width:25%;
    color: white;
    font-size: 14px;
}
nav > a:hover{
    font-size:16px;
    color: #ff3300;
    transition-duration: 0.5s;
}
footer {
    height:160px;
    background-color: #333;
    color: white;
    text-align: center;
    align-items:center;
    padding: 10px 0;
}
footer > div{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:8px 0;
}
footer > div >img {
    width:30px;
    height:30px;
    margin-right:10px;
}
footer p,a{
    color:white;
}
footer a:hover{
    transition=direction:0.5s;
    color:red;
    font-size:18px;
}
.logo img{
    width: 150px;
    height:auto;
}
.login{
    display: flex;
    width:300px;
    align-items:center;
}
/* 기본 버튼 스타일 */
.button {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.3); /* 투명도를 포함한 흰색 */
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'KCC-Hanbit', sans-serif; /* 폰트 적용 */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.button i{
    color:#555;
}
/* 호버 효과 */
.button:hover {
    background-color: rgba(255, 255, 255, 0.2) !important; /* 호버 시 밝기 증가 */
    color: #ff3300 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
}

.user-info {
    width:300px;
    display:flex;
    align-items: center; /* 수직 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: auto; /* 중앙에 배치 */
}
.user-info p{
    font-size: 16px;
    color:white;
}
.slider {
    width: 300%; /* 슬라이드 수에 따라 조정 */
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides {
    width: calc(100% / 3); /* 3개의 슬라이드 */
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: zoomOut 5s infinite;
}
.profile-container{
    background-color: #444; /* 배경색 */
    border:3px solid black;
    border-radius: 20px;
    position:absolute;
    width: 400px;
    left: 50%;
    margin-left: -150px;
    top: 17%;
}
.profile-container img{
    width:150px;
    height:150px;
    border-radius:50%;
}
.profile{
    display: flex;
    width: 390px;
    height: 340px;
    margin: 15px 5px 5px 5px;
}
.profile > .left{
    padding:10px;
    border-right: 1px solid white;
    text-align:center;
}
.profile > .left > p{
    margin-bottom: 30px;
    font-weight:bold;
    color:white;
}
.profile > .right{
    padding:10px;
}
.profile > .right > p{
    margin-bottom: 30px;
    margin-left: 10px;
    text-align: left;
    color:white;
}
.profile .right > input{
    margin-bottom: 30px;
    margin-left: 10px;
    text-align: left;
    color: black;
}
.profile .right img{
    width:15px;
    height:15px;
}
.profile .right .btn{
    display:flex;
    justify-content:flex-end;
    margin-right:5px;
}

.listContainer{
    border-radius:5%;
    margin-top:40px;
    background-color: rgba(255,255,255,0.9); /* 투명도 50%의 흰색 */
    width: 1500px;
    height: 700px;
}
.listContainer > .side-nav{
    width:200px;
    height:80%;
    border-right:3px solid black;
}
.title{
    line-height: 40px;
    height:40px;
    background-color: #C0C0C0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.list{
    line-height:45px;
    height:45px;
    color : black;
    border-bottom: 1px solid black;
}
.list a{
    color: black;
}
.list a:hover{
    text-decoration: underline;
    text-decoration-color: black; /* 밑줄 색상 */
    text-decoration-thickness: 2px; /* 밑줄 두께 */
    text-decoration-style: solid; /* 밑줄 스타일 */
}
.articleList {
    height: 100%;
    width:1300px;
}
.articleList > .top {
    display:flex;
    justify-content:space-between;
    margin:0 0 0 40px;
    padding-top :10px;
    width:90%;
    height: 50px;
}
.articleList > .top p{
    margin:10px;
    padding-right: 350px;
    font-size:20px;
}
.tap-nav {
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
}
.tap-nav a{
    width:120px;
    height:50px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #f0f4f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
    padding: 30px 20px 10px 20px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}
.tap-nav a:hover {
    background-color: rgba(255, 255, 255, 0.2) !important; /* 호버 시 밝기 증가 */
    color: #ff3300 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
}

.searchInput{
    width:250px;
    height: 40px;
    border-radius: 10px;
    padding: 0 40px 0 10px;
    color: #333; /* 글자색을 어두운 회색으로 변경 */
    box-sizing: border-box;
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
    border: 1px solid #444; /* 경계선 추가, 색상은 어두운 회색 */
}
.searchInput:focus {
    border-color: #d32f2f; /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 8px rgba(211, 47, 47, 0.25); /* 포커스 시 그림자 효과 추가 */
}
.search-box {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.paging{
    display: flex;
    justify-content:center;
    align-items:end;
    justify-content: space-around;
    width: 100%;
    padding-bottom:20px;
}
.paging a{
    color: black;
}
.paging div{
    max-width:50px;
    display:flex;
    justify-content: space-evenly;
    background-color:
}
.paging div span, a{
    padding:5px;
    text-align:center;
}
.paging a:hover{
    font-size:17px;
    text-decoration: underline;
    text-decoration-color: black; /* 밑줄 색상 */
    text-decoration-thickness: 2px; /* 밑줄 두께 */
    text-decoration-style: solid; /* 밑줄 스타일 */
    transition-duration: 0.5s;
}
section{
    width: 100%;
    height: 80%;
    margin-top: 20px;
}
article{
    width: 1200px;
    margin:auto;
    max-height: 900px;
    height: auto;
    background-color: rgba(255,255,255,0.9); /* 투명도 50%의 흰색 */
    border-bottom: 3px solid black;
    overflow-y:auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
section::-webkit-scrollbar {
    display: none;
}
article .titleContainer{
    width: 100%;
    height: 220px;
    border:1px solid black;
     box-sizing: border-box; /* 패딩과 테두리가 전체 높이와 너비에 포함되도록 설정 */
}
article .titleContainer .top{
    background-color:#C0C0C0;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 30px;
    height:50px;
}
article .titleContainer .top > span{
    font-size : 25px;
}
article .titleContainer .top > p{
    font-size : 20px;
}
.author{
    align-content:center;
    padding:5px 20px;
    display:flex;
    justify-content:space-between;
    height : 100px;
}
.author p,
.author a{
    font-size:16px;
    display:flex;
    align-items:center;
    color:black;
}
.author div{
    display: flex;
    justify-content: center; /* 수평 방향으로 중앙 정렬 */
    align-items: center;     /* 수직 방향으로 중앙 정렬 */
}
table {
    width: 300px;
    border-collapse: collapse; /* 테이블의 경계선을 하나로 합침 */
    text-align: center; /* 테이블 내 텍스트를 가운데 정렬 */
}
.contentContainer{
    height: auto;      /* 높이를 내용에 따라 자동 조절 */
    min-height: 400px; /* 최소 높이를 100px로 설정 (필요에 따라 조절) */
    padding: 10px;     /* 패딩을 추가하여 내용과 테두리 사이 간격을 설정 */
    box-sizing: border-box; /* 패딩과 테두리가 전체 높이와 너비에 포함되도록 설정 */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;     /* 수직 중앙 정앙 */
    flex-direction: column;  /* 요소를 세로로 쌓음 */
    border:1px solid black;
    box-sizing: border-box; /* 패딩과 테두리가 전체 높이와 너비에 포함되도록 설정 */
}
.contentContainer pre{
    padding:10px;
    width:95%;
    font-size: 14px;
    white-space: pre-wrap;       /* CSS3 */
    white-space: -moz-pre-wrap;  /* Firefox */
    white-space: -pre-wrap;      /* Opera <7 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* IE */
    font-family: 'KCC-Hanbit', sans-serif; /* 폰트 적용 */
}
.articleImageContainer{
    display: flex;
    align-items:center;
    border: 1px solid black;
    box-sizing: border-box;
}
.article-image {
    max-width: 100%;
    height: auto; /* 이미지 비율을 유지하며 조정 */
    display: block;
}
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}
.modal-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}
.modal-content img {
    max-width: 100%;
    height: auto;
    display: block;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
}
.clickable{
    cursor: pointer;
}
.commentContainer{
    width: 100%;
    height:auto;
    min-height:200px;
    border:1px solid black;
     box-sizing: border-box; /* 패딩과 테두리가 전체 높이와 너비에 포함되도록 설정 */
}
.comment-top{
    display:flex;
    flex-direction:column;
    width: 100%;
    margin:5px;
}
.comment-list{
    width:100%;
    height:auto;
    mint-height:100px;
}
.comment-layout{
    height:auto;
    width:1200px;
    min-height:30px;
    border-bottom: 1px solid black;
}
.comment-layout pre{
    font-size: 14px;
    white-space: pre-wrap;       /* CSS3 */
    white-space: -moz-pre-wrap;  /* Firefox */
    white-space: -pre-wrap;      /* Opera <7 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* IE */
    font-family: 'KCC-Hanbit', sans-serif; /* 폰트 적용 */
}
/* 폼과 내부 요소 스타일링 */
.article-Form {
    width:50%;
    margin: 40px auto auto auto;
    background-color: #2d2d2d; /* 짙은 회색으로 배경 변경 */
    padding: 25px;
    border-radius: 10px; /* 모서리를 더욱 둥글게 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6); /* 그림자를 더 깊게 조정 */
}

.titleInput{
    width: 100%;
    height:50px;
    padding: 12px; /* 패딩 증가 */
    margin-top: 12px; /* 상단 여백 조정 */
    border: 1px solid #444; /* 경계선 추가, 색상은 어두운 회색 */
    border-radius: 5px; /* 모서리 둥근 정도 변경 */
    background-color: #fff; /* 배경색을 흰색으로 변경 */
    color: #333; /* 글자색을 어두운 회색으로 변경 */
    box-sizing: border-box;
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
}
.contentInput {
    width: 100%;
    height:600px;
    padding: 12px; /* 패딩 증가 */
    margin-top: 12px; /* 상단 여백 조정 */
    border: 1px solid #444; /* 경계선 추가, 색상은 어두운 회색 */
    border-radius: 5px; /* 모서리 둥근 정도 변경 */
    background-color: #fff; /* 배경색을 흰색으로 변경 */
    color: #333; /* 글자색을 어두운 회색으로 변경 */
    box-sizing: border-box;
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
}

.titleInput:focus, contentInput:focus {
    border-color: #d32f2f; /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 8px rgba(211, 47, 47, 0.25); /* 포커스 시 그림자 효과 추가 */
}

input[type="file"] {
    color: #fff;
    background-color: #444; /* 파일 선택 버튼의 배경색 변경 */
    border: none; /* 테두리 없애기 */
    padding: 10px 15px; /* 패딩 조정 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 포인터 변경 */
    transition: background-color 0.3s ease; /* 배경색 변화에 부드러운 전환 효과 적용 */
}

input[type="file"]:hover {
    background-color: #666; /* 호버 시 배경색 변경 */
}
.info-table{
    width: 95%;
    max-height: 700px;
    margin:auto;
    background: rgba(26, 26, 26, 1.0);
    border-radius: 20px;
    padding:10px;
}
.info-table > .top{
    width:100%;
    height: 120px;
    border-bottom: 1px solid black;
    display:flex;
    align-items:center;
}
.info-table > .top img{
    width: 75px;
    height: auto;
}
.info-table > .top p{
    color: white;
    font-size: 30px;
}
.info-table > .bottom {
    height:580px;
    display:flex;
}
.standing-box{
    margin:10px;
    width: 50%;
    font-size: 20px;
}
.playerList{
    margin-left:20px;
    overflow-y:auto;
    max-height:750px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    display:flex;
}
.team-nav {
    width: 10%;
    background-color: #444; /* 배경색 */
    margin:10px;
    padding: 20px; /* 내부 여백 */
    border-radius: 10px; /* 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.team-nav a {
    display: block; /* 블록 요소로 설정 */
    color: #fff; /* 글씨 색상 */
    text-decoration: none; /* 밑줄 제거 */
    padding: 10px 0; /* 위아래 여백 */
    font-size: 18px; /* 글꼴 크기 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

.team-nav a:hover {
    background-color: #333; /* 호버 시 배경색 */
    border-radius: 5px; /* 둥근 모서리 */
}
.GK-box,
.DF-box,
.MF-box,
.FW-box{
    margin:10px;
    width:300px;
    height:auto;
    color:white;
    max-height:650px;
    overflow-y:auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    font-size:30px;
    background-color: #444; /* 배경색 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.GK-box div,
.DF-box div,
.MF-box div,
.FW-box div{
    display:flex;
    align-items:center;
    padding:10px;
}
.GK-box div img,
.DF-box div img,
.MF-box div img,
.FW-box div img{
    width:40px;
    height:auto;
}
.GK-box div a,
.DF-box div a,
.MF-box div a,
.FW-box div a{
    margin-left: 10px;
    font-size:15px;
    color: white;
}
.GK-box div a:hover,
.DF-box div a:hover,
.MF-box div a:hover,
.FW-box div a:hover{
    background-color: #333; /* 호버 시 배경색 */
    border-radius: 5px; /* 둥근 모서리 */
}

.flagContainer{
    display:flex;
}
.standing-box div{
    text-align:center;
    color:white;
    font-size:16px;
}
.standings{
    max-height:500px;
    overflow-y:auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.standings-list{
    transition: background 0.5s ease-in-out;
    align-items:center;
    display:flex;
    text-align:center;
    font-size:16px;
    color: white;
    height: 50px;
}
.standings-list p{
    margin:5px;
}
.standings-list a{
    color: white;
}
.standings-list img{
    width : 30px;
    height : 30px;
}
.standings-list:hover{
    background: rgba(46, 46, 46, 1.0); /* 기존 색보다 밝은 색으로 변경 */
    border-radius:10px;
}
.top-position{
    background-color:#adff2f;
    border-radius: 30%;
    height: 40px;
}
.middle-position{
    background-color:#ff8c00;
    border-radius: 30%;
    height: 40px;
}
.bottom-position{
    background-color:red;
    border-radius: 30%;
    height: 40px;
}

.league-position span::before {
    content: ""; /* 가상 요소의 내용은 비어 있음 */
    display: inline-block; /* 네모 박스를 인라인 블록으로 표시 */
    width: 10px; /* 네모 박스의 너비 */
    height: 10px; /* 네모 박스의 높이 */
    background-color: #555; /* 네모 박스의 배경 색 */
    margin-right: 8px; /* 텍스트와 네모 박스 사이의 마진 */
    margin-left: 10px;
}

/* 예시: 챔피언스 리그, 유로파 리그, 강등권에 따른 색상 변경 */
.league-position span:nth-child(1)::before { background-color: #adff2f; } /* 챔피언스 리그 - 파란색 */
.league-position span:nth-child(2)::before { background-color: #ff8c00; } /* 유로파 리그 - 녹색 */
.league-position span:nth-child(3)::before { background-color: red; } /* 강등권 - 빨간색 */
.team-player {
    font-size:12px;
    background-color: #444; /* 배경색 */
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.team-player ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.team-player ul.header {
    font-weight: bold;
    color:white;
    font-size:16px !important;
}

.team-player ul.header li {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.team-player ul.test {
    display: flex;
    align-items: center;
    width: 100%;
}

.team-player ul.test li {
    flex: 1;
    text-align: center;
    color:white;
    padding: 10px;
}
.stat-box{
    width:40%;
    height:90%;
    margin: 8px;
}
.rank-box{
    width:50%;
    margin-right:10px;
    margin-top:20px;
    padding:10px;
    background-color: rgb(47, 79, 79); /* Dark Slate Gray */
    border-radius:20px;
}
.top-score,
.top-assist,
.top-rating,
.top-keyPass{
    display:flex;
    align-items:center;
    width:100%;
    height:19%;
}
.top-score img,
.top-assist img,
.top-keyPass img,
.top-rating img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bg-circle-red{
    background-color: red; /* 원하는 배경색으로 변경 */
    border-radius: 50%; /* 동그랗게 만들기 */
    width: 35px; /* 원하는 너비 */
    height: 35px; /* 원하는 높이 */
}
.2x2table{
    width:400px !important;
    height:100px !important;
}

.player-table > .top{
    border-bottom: 1px solid black;
}

.player-card {
    background-color: #fff;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin:auto;
}

.player-info {
    padding: 20px;
    text-align: center;
    background-color: #e0e0e0;
}

.team-logo {
    width: 50px;
    float: left;
    margin-left:20px;
}

.player-photo {
    width: 100px;
    border-radius: 50%;
}
.player-number{
    width: 70px;
    float: right;
    top:0;
}
.player-name {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.player-details {
    margin-left: 15px;
    font-size: 16px;
    color: #555;
}

.country-flag {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.player-stats {
    padding: 20px;
    color: #fff;
}

.player-stats h3 {
    margin-top: 0;
}

.player-stats table {
    width: 100%;
    border-collapse: collapse;
}

.player-stats th, .player-stats td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.player-stats td:last-child {
    text-align: right;
}

.news-list{
    background-color:rgba(255,255,255,0.5);
    display:flex;
    flex-direction:column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position:absolute;
    bottom:0;
    left:0%;
    z-index: 1000;
}
.news-list > .top {
    padding:10px 0 0 0;
    display:flex;
    justify-content:space-between;
}
.news-list > .top > p{
    padding-left:20px;
    font-size:30px;
}
.news-list > .top > a {
    color:black;
    font-size: 20px;
    padding-right:20px;
}
.news-box{
    margin:20px;
    padding:10px;
    background-color: rgb(255, 0, 0,0.4);
    width:25%;
    border-radius:10px;
}
.news-box img{
    width:310xp;
    height:150px;
}
.category{
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-align:left;
}
.time{
    text-align:left;
    font-size: 12px;
    color: black;
}
.ellipsis {
    text-align:left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 35ch; /* 10 characters width */
    display: inline-block;
    color: black;
}
.matchList {
    margin-top:10px;
    width:90%;
    display: flex;
    flex-wrap: wrap; /* 여러 줄로 나눠서 배치되도록 설정 */
    gap: 20px; /* 박스 사이의 간격 설정 */
    justify-content: space-between; /* 박스 사이의 여유 공간 분배 */
    overflow-y:auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    max-height: 850px;
}

.match-box {
    flex: 0 0 calc(33.333% - 20px); /* 각 박스의 너비를 계산 (간격 포함) */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 계산 */
    border: 2px solid #ddd; /* 박스의 테두리 */
    border-radius: 10px; /* 둥근 모서리 */
    padding: 20px; /* 내부 여백 */
    background-color: rgb(60, 60, 60); /* 박스 배경색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    transition: transform 0.2s ease-in-out; /* 마우스 오버 시 애니메이션 효과 */
}

.match-box:hover {
    cursor: pointer;
}

.match-info {
    text-align: center; /* 중앙 정렬 */
    margin-bottom: 10px; /* 아래 여백 */
}

.match-info p {
    margin: 5px 0; /* 문단 간격 */
    font-size: 14px; /* 글꼴 크기 */
    color: #D3D3D3; /* 글꼴 색상 */
}

.team {
    display: flex; /* 플렉스 박스 레이아웃 */
    align-items: center; /* 수직 정렬 */
    justify-content: space-between; /* 양 끝 정렬 */
    margin-top: 10px; /* 팀 정보와 경기 정보 간격 */
}

.team-info {
    display: flex; /* 플렉스 박스 레이아웃 */
    align-items: center; /* 수직 정렬 */
}

.team-info img {
    width: 50px; /* 이미지 너비 */
    height: 50px; /* 이미지 높이 */
    border-radius: 50%; /* 둥근 이미지 */
    margin-right: 10px; /* 이미지와 텍스트 사이 간격 */
}

.team-info p {
    font-size: 16px; /* 팀명 글꼴 크기 */
    color: #D3D3D3; /* 팀명 글꼴 색상 */
}

.score {
    display: flex; /* 플렉스 박스 레이아웃 */
    align-items: center; /* 수직 정렬 */
    font-size: 18px; /* 점수 글꼴 크기 */
    font-weight: bold; /* 점수 글꼴 굵기 */
    color: #D3D3D3; /* 점수 색상 */
}
.winner {
    background-color: #4CAF50; /* 초록색 배경 */
    color: white; /* 흰색 글씨 */
    padding: 10px; /* 내부 여백 */
    border: 2px solid #388E3C; /* 테두리 색상 */
    border-radius: 5px; /* 둥근 모서리 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.draw {
    background-color: #9E9E9E; /* 회색 배경 */
    color: white; /* 흰색 글씨 */
    padding: 10px; /* 내부 여백 */
    border: 2px solid #757575; /* 테두리 색상 */
    border-radius: 5px; /* 둥근 모서리 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.loser {
    background-color: #F44336; /* 빨간색 배경 */
    color: white; /* 흰색 글씨 */
    padding: 10px; /* 내부 여백 */
    border: 2px solid #D32F2F; /* 테두리 색상 */
    border-radius: 5px; /* 둥근 모서리 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.alignCenter p {
    margin: 0 5px; /* 점수 간격 */
}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

.history {
    text-align: center;
    margin: 0 auto;
}

.history h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #e62429;
}

.layout {
    margin-top:50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.champions-wall {
    width:600px;
    height:350px;
    padding: 20px; /* 이미지와 테두리 사이의 여백을 조절 */
    border: 15px solid #8B4513; /* 브라운 색상 테두리 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); /* 진한 그림자 효과 */
    background-color: #000; /* 흰색 배경 */
    display:flex;
    justify-content:center;
    align-items:center;
}

.champions-wall img {
    width: 580px;
    height:330px;
    display: block;
}
.champions-list {
    background: linear-gradient(135deg, #c8102e 0%, #d3192c 100%);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    width:670px;
    font-family: 'Arial', sans-serif;
}
.champions-list h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.champions-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height:70px;
}

.champions-list li {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(50, 50, 50, 0.2);
    font-size:11px;
    background: #c8102e;
    border-radius: 5px;
    padding: 3px;
    width:95px;
    margin: 10px 5px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.champions-list li:hover {
    transform: scale(1.05);
    background: #a70d1c;
}

.champions-list .league::before {
    content: '🏆 ';
}

.champion-years {
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    color: #c8102e;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}

.champion-years span {
    background: #c8102e;
    color: #fff;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 3px;
    display: inline-block;
}
.champion-years.active {
    display: block; /* 활성화되면 표시 */
}
.timeline {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y:auto;
    max-height:700px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.event {
    background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
    padding: 20px;
    width:250px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(50, 50, 50, 0.2);
    cursor: pointer;
}

.event:hover {
    background: #e62429;
}
.event h2 {
    margin: 0 0 10px 0;
    font-size: 2em;
    color: #e62429;
}

.event p {
    margin: 0;
    font-size: 1.2em;
    color: #f0f0f0;
}
.details-container {
    width: 650px;
    padding: 20px;
    margin-right:30px;
    background: linear-gradient(145deg, #1a1a1a, #121212);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(50, 50, 50, 0.2);
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.details {
    display: none;
}
.details h1 {
    margin: 0 0 10px 0;
    font-size: 2em;
    color: #e62429;
}
.details h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #e62429;
}
.details p{
    margin: 0;
    font-size: 1.2em;
    color: #f0f0f0;
}
.details img{
    width:90%;
    height:300px;
    padding:20px;
}

.details.active {
    display: block;
}

.trophy-box {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.trophy-box h3 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #e62429;
}

.trophy-box p {
    margin: 0;
    font-size: 1em;
    color: #f0f0f0;
}