.slider {
    width: 1448px; /* 슬라이더의 너비 */
    height: 808px; /* 슬라이더의 높이 */
    overflow: hidden; /* 이미지가 박스 바깥으로 나가지 않도록 함 */

}

.slides {
    width: 1448px; /* 부모 요소와 동일한 너비 */
    height: 808px; /* 부모 요소와 동일한 높이 */
    display: flex; /* 이미지를 가로로 나열 */
    transition: transform 0.5s ease-in-out; /* 부드러운 전환 효과 */
}

.slides img {
    width: 1448px; /* 슬라이더 너비에 맞게 조정 */
    object-fit: cover; /* 이미지가 박스에 꽉 차도록 조정하되, 비율 유지 */
    height: 808px;
    display: block; /* 이미지를 블록 요소로 표시하여 줄바꿈이 발생하지 않도록 설정합니다. */
    position: absolute; /* 이미지를 상대적으로 배치하기 위해 절대 위치로 설정합니다. */
    z-index: -1; /* 이미지를 뒤로 이동시켜 다른 콘텐츠 위에 나타나지 않도록 설정합니다. */
}