<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
    <link rel="stylesheet" href="/css/jun.css"> <!-- ref=" stylesheet"은 외부 리소스 가져오는 것-->
</head>

<body>
<header>
    <div class="logo">
        <a th:href="@{/}"><img src="/img/livlogo.png"></a>
        <h2><br>kop<br>morning!</h2>
    </div>
    <nav>
        <ul>
            <li>
                <a th:href="@{/story}">TEAM</a>
                <ul class="submenu">
                    <li><a href="#">경력</a></li>
                    <li><a th:href="@{/team/64}">선수</a></li>
                    <li><a th:href="@{/schedule}">경기 일정</a></li>
                </ul>
            </li>
            <li>
                <a th:href="@{/articles}">ARTICLE</a>
                <ul class="submenu">
                    <li><a th:href="@{/articles}">자유 게시판</a></li>
                    <li><a href="">뉴스 게시판</a></li>
                    <li><a href="">타 팀 게시판</a></li>
                </ul>
            </li>
            <li>
                <a href="">LEAGUE</a>
                <ul class="submenu">
                    <li><a href="">프리미어 리그</a></li>
                    <li><a href="">유로파 리그</a></li>
                    <li><a href="">FA 컵</a></li>
                    <li><a href="">EFL 컵</a></li>
                </ul>
            </li>
            <li>
                <a href="">공지사항</a>
                <ul class="submenu"></ul>
            </li>
        </ul>
    </nav>
</header>
<div class="container">
    <div class="advertisement">

    </div>
    <div class="section">
        <div class="w-button">
            <button type="button" id="create-btn"
                    th:onclick="|location.href='@{/new-article}'|"
                    class="custom-btn btn-5">글 쓰기
            </button>
        </div>
        <div class="articles">
            <ul>
                <li><span class="fl tc w70 title">글 번호</span></li>
                <li><span class="fl tc w600 title">제목</span></li>
                <li><span class="fl tc w150 title">글쓴이</span></li>
                <li><span class="fl tc w170 title">날짜</span></li>
                <li><span class="fl tc w45 title">추천</span></li>
                <li><span class="fl tc w45 title">조회</span></li>
            </ul>
        </div>
        <div class="articles-sub">
            <ul>
                <th:block th:each="item : ${articles}">
                    <li><span th:text="${item.id}" class="fl tc w70 list"></span></li>
                    <li>
                        <a th:href="@{/articles/{id}(id=${item.id})}" class="fl tc w600 list" th:text="${item.title}"></a>
                    </li>
                    <li>
                        <span th:if="${item.user.nickname==null}" th:text="${item.user.username}" class="fl tc w150 list"></span>
                        <span th:unless="${item.user.nickname==null}" th:text="${item.user.nickname}" class="fl tc w150 list"></span>
                    </li>
                    <li><span th:text="${#temporals.format(item.createdAt, 'MM-dd HH:mm')}" class="fl tc w170 list"></span></li>
                    <li><span class="fl tc w45 list" th:text="${item.likeCount}"></span></li>
                    <li><span class="fl tc w45 list" th:text="${item.viewCount}"></span></li>
                </th:block>
            </ul>
        </div>
    </div>
    <div class="aside">
        <div class="container-side">
            <div class="buttons" sec:authorize="isAnonymous()">
                <button class="btn-hover color-11" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">로그인</button>
                <button class="btn-hover color-11" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">회원가입</button>
                <p style="color:white;">-------------OR-------------</p>
                <div class="oauth-signIn">
                    <a href="/oauth2/authorization/google">
                        <img class="google_logo" src="/img/google_sign_in.png">
                    </a>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()" class="container-userinfo">
                <div th:unless="${user.picture.startsWith('https://')}">
                    <img class="w140 h140 radius-circle" th:src="@{'/profileImage/'+ ${user.picture}}" alt="User Image">
                </div>
                <div  th:if="${user.picture.startsWith('https://')}">
                    <img class="w140 h140 radius-circle" th:src="${user.picture}">
                </div>
                <div class="mt2 mb2">
                    <p th:if="${user.nickname == null}" th:text="|${user.username}님 어서오세요!|"></p>
                    <p th:unless="${user.nickname == null}" th:text="|${user.nickname}님 어서오세요!|"></p>
                </div>
                <div class="mt2">
                    <button type="button" class="my-profile" onclick="location.href='/myprofil'">내 정보</button>
                    <button type="button" class="logout-btn" onclick="location.href='/logout'">로그아웃</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom">

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("nav > ul > li").mouseenter(function(){
      $(this).children(".submenu").stop().slideDown(400);
    });
    $("nav > ul > li").mouseleave(function(){
      $(this).children(".submenu").stop().slideUp(100);
    });
</script>
<script src="/js/article.js"></script>
<script src="/js/token.js"></script>
</body>
</html>