<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>블로그 글</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <div class="alignCenter header-box">
        <div class="logo">
            <a th:href="@{/}"><img src="/img/LIV-LOGO.png"></a>
        </div>
        <nav class="ml2">
            <a th:href="@{/}">HOME</a>
            <a th:href="@{/story}">TEAM</a>
            <a th:href="@{/articles}">ARTICLE</a>
            <a th:href="@{/league}">LEAGUE</a>
            <a th:href="@{/notice}">NOTICE</a>
        </nav>
        <div class="login">
            <div sec:authorize="isAnonymous()">
                <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">로그인</button>
                <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">회원가입</button>
            </div>
            <div class="user-info" sec:authorize="isAuthenticated()">
                <div th:unless="${user.picture.startsWith('https://')}">
                    <img class="mt10 w60 h60 border-circle" th:src="@{'/profileImage/'+ ${user.picture}}" alt="User Image">
                </div>
                <div th:if="${user.picture.startsWith('https://')}">
                    <img class="mt10 w60 h60 border-circle" th:src="${user.picture}" onerror="this.url='/img/default-img.png';">
                </div>
                <div>
                    <p class="ml1" th:text="|${user.nickname == null ? user.username : user.nickname}님 어서오세요!|"></p>
                    <div class="ml2">
                        <button type="button" class="button" onclick="location.href='/myprofil'">내 정보</button>
                        <button type="button" class="button" onclick="location.href='/logout'">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <article>
        <input type="hidden" id="article-id" th:value="${article.id}">
        <div class="titleContainer">
            <div class="top">
                <span th:text="${article.title}"></span>
                <p th:text="|Posted on ${#temporals.format(article.createdAt, 'YY년 MM월 dd일 HH:mm')}|"></p>
            </div>
            <div class="author">
                <div>
                    <p class="font-black font-size20">작성자 :</p>
                    <img class="ml0 w60 h60 border-circle"
                         th:src="${article.user.picture.startsWith('https://') ? article.user.picture : '/profileImage/' + article.user.picture}"
                         alt="User Image">
                    <a class="ml0 font-black font-size20" href="#" th:text="${article.user.nickname != null ? article.user.nickname : article.user.username}"></a>
                </div>
                <p th:text="${article.articleType}"></p>
                <table>
                    <tr>
                        <th><button type="button" id="LikeUp-btn" class="button font-black font-size16">추천</button></th>
                        <th>방문</th>
                        <th><button type="button" class="button font-black font-size16"
                                    th:onclick="|location.href='@{/new-article?id={articleId}(articleId=${article.id})}'|">수정</button></th>
                    </tr>
                    <tr>
                        <th th:text="${article.likeCount}"></th>
                        <th th:text="${article.viewCount}"></th>
                        <th><button type="button" id="delete-btn" class="button font-black font-size16">삭제</button></th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="contentContainer">
            <pre th:text="${article.content}"></pre>
        </div>
        <div class="articleImageContainer" th:if="${article_image != null}" th:each="article_image : ${article_image}">
            <img th:src="@{'/articleImage/'+${article_image}}" alt="게시물 이미지" class="article-image clickable">
        </div>

        <div class="commentContainer">
            <div class="comment-top">
                <p>댓글<span class="ml1 w100" th:text="|(${comment.size()})|">(0)</span></p>
                <div class="dpFlex">
                    <textarea style="width:90%;" id="comment" placeholder="댓글 작성.."></textarea>
                    <button type="button" class="button font-black" id="writeComment">댓글 달기</button>
                </div>
            </div>
            <div class="ml0 comment-list" th:each="comment, commentIndex : ${comment}">
                <input type="hidden" id="comment-id" th:value="${comment.id}">
                <div class="mt10 dpFlex jsSB">
                    <div class="dpFlex">
                        <img class="w30 h30 boarder-circle" th:src="${comment.user.picture.startsWith('https://') ? comment.user.picture : '/profileImage/' + comment.user.picture}">
                        <p class="w70 ml0" th:text="${comment.user.nickname == null} ? ${comment.user.username} : ${comment.user.nickname}"></p>
                        <button type="button" class="button Like-comment-btn"><img class="w15 h15" src="/img/green-check.png"></button>
                        <p th:text="| 좋아요 (${comment.likesCount})|"></p>
                        <button type="button" class="button delete-comment-btn"><img class="w15 h15" src="/img/delete.png"></button>
                        <button type="button" class="button modify-comment-btn"><img class="w15 h15" src="/img/pencil.png"></button>
                        <button type="button" style="display: none;" class="button save-comment-btn"><img class="w15 h15" src="/img/green-check.png"></button>
                        <button type="button" style="display: none;" class="button cancel-comment-btn"><img class="w15 h15" src="/img/red-x.png"></button>
                    </div>
                    <span class="w100" th:text="${#temporals.format(comment.createdDate,'HH : mm')}"></span>
                </div>
                <div class="comment-layout">
                    <pre class="comment-content" th:text="${comment.comment}"></pre>
                    <textarea class="comment-input" style="display: none;"></textarea>
                </div>
            </div>
        </div>
    </article>
</section>
<div class="modal-background" id="image-modal">
    <div class="modal-content">
        <button class="close-modal">&times; Close</button>
        <img src="" alt="Full Size Image" id="modal-image">
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/article.js"></script>
<script src="/js/comment.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="sweetalert2.all.min.js"></script>
</body>