<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>콥모닝</title>
</head>
<body>
<div class="wrap">
    <div class="container">
        <header>
            <div class="logo">
                <a th:href="@{/}"><img src="/img/LIV_Logo.png"></a>
                <p>KOP<br>MORNING!</p>
            </div>
            <nav class="ml2">
                <a th:href="@{/}">HOME</a>
                <a th:href="@{/story}">TEAM</a>
                <a th:href="@{/articles}">ARTICLE</a>
                <a href="">LEAGUE</a>
                <a th:href="@{/notice}">NOTICE</a>
            </nav>
            <div class="login">
                <div sec:authorize="isAnonymous()">
                    <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">로그인</button>
                    <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">회원가입</button>
                </div>
                <div class="user-info" sec:authorize="isAuthenticated()">
                    <div th:unless="${user.picture.startsWith('https://')}">
                        <img class="mt10 w60 h60 border-circle" th:src="@{'/profileImage/'+ ${user.picture}}" alt="User Image">
                    </div>
                    <div th:if="${user.picture.startsWith('https://')}">
                        <img class="mt10 w60 h60 border-circle" th:src="${user.picture}">
                    </div>
                    <div class="dpFlex alignCenter column">
                        <p class="ml1" th:text="|${user.nickname == null ? user.username : user.nickname}님 어서오세요!|"></p>
                        <div class="ml2">
                            <button type="button" class="button" onclick="location.href='/myprofil'">내 정보</button>
                            <button type="button" class="button" onclick="location.href='/logout'">로그아웃</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="slider">
            <div class="slides" id="slide1" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('/img/salah_wallpaper.jpg');"></div>
            <div class="slides" id="slide2" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('/img/fc24_wallpaper.jpeg');"></div>
            <div class="slides" id="slide3" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('/img/gerrard.jpg');"></div>
        </div>
    </div>
    <div class="container">
        <div>

        </div>
        <footer>

        </footer>
    </div>
</div>
<script type="text/javascript" src="/js/slide.js"></script>
</body>
</html>