<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>콥모닝</title>
</head>
<body>
<div class="wrap">
    <div class="container">
        <header>
            <div class="alignCenter header-box">
                <div class="logo">
                    <a th:href="@{/}"><img src="/img/LIV-LOGO.png"></a>
                </div>
                <nav class="ml2">
                    <a th:href="@{/}">HOME</a>
                    <a th:href="@{/story}">TEAM</a>
                    <a th:href="@{/articles}">ARTICLE</a>
                    <a th:href="@{/league}">LEAGUE</a>
                    <a th:href="@{/notice}">NOTICE</a>
                </nav>
                <div class="login">
                    <div sec:authorize="isAnonymous()">
                        <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">로그인</button>
                        <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">회원가입</button>
                    </div>
                    <div class="user-info" sec:authorize="isAuthenticated()">
                        <div th:unless="${user.picture.startsWith('https://')}">
                            <img class="mt10 w60 h60 border-circle" th:src="@{'/profileImage/'+ ${user.picture}}" alt="User Image">
                        </div>
                        <div th:if="${user.picture.startsWith('https://')}">
                            <img class="mt10 w60 h60 border-circle" th:src="${user.picture}" onerror="this.url='/img/default-img.png';">
                        </div>
                        <div>
                            <p class="ml1" th:text="|${user.nickname == null ? user.username : user.nickname}님 어서오세요!|"></p>
                            <div class="ml2">
                                <button type="button" class="button" onclick="location.href='/myprofil'">내 정보</button>
                                <button type="button" class="button" onclick="location.href='/logout'">로그아웃</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="news-list" id="news-list">
            <div class="top">
                <p>Latest News</p>
                <a class="more" href="https://www.liverpoolfc.com/news?categoryId=186">More > </a>
            </div>
            <div class="alignCenter">
                <a th:href="${news.url}" class="news-box" th:each=" news : ${news}">
                    <img th:src="${news.image}">
                    <div>
                        <p class="category" th:text="${news.category}"></p>
                        <p class="ellipsis" th:text="${news.title}"></p>
                        <p class="time" th:text="${news.time}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="slider">
            <div class="slides" id="slide1" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('/img/salah_wallpaper.jpg');"></div>
            <div class="slides" id="slide2" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('/img/fc24_wallpaper.jpeg');"></div>
            <div class="slides" id="slide3" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),url('/img/gerrard.jpg');"></div>
        </div>

    </div>
    <footer>
        <p>Blog owner's info and social media links</p>
        <div>
            <img src="/img/email_icon.png">Email: <a href="mailto:junho767@naver.com">junho767@naver.com</a>, <a href="mailto:worms773789@gmail.com">worms773789@gmail.com</a>
        </div>
        <div>
            <img src="/img/Github_icon.png">GitHub: <a href="https://github.com/junho767/Kopmorning-capstone">Kopmorning-capstone</a>
        </div>
        <p>&copy; 2024 Liverpool F.C. Fan Blog. All rights reserved.</p>
    </footer>
</div>
<script type="text/javascript" src="/js/slide.js"></script>
</body>
</html>
