<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>

    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/background.js"></script>
</head>
<body id="exampleElement" class="background-image-bg">
<div class="container bg-dark">
    <form action="/articles" method="POST">
        <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
        <div class="mt1 mb1 text-center">
            <h1 class="font-white">LOGIN</h1>
            <label class="font-white">------------------------</label>
            <div class="mt2">
                <label class="font-white text-center">구글로 로그인 하기</label>
            </div>
        </div>
        <div class="mt2 text-center">
            <a href="/oauth2/authorization/google">
                <img src="/img/google.png">
            </a>
        </div>
    </form>
</div>
</body>
</html>