<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
    <link rel="stylesheet" href="/css/jun.css"> <!-- ref=" stylesheet"은 외부 리소스 가져오는 것-->
</head>

<body>
<div class="header">
    <a href="#"><img class="pl-logo" src="/img/PL_LOGO.png"></a>
    <a href="#"><img class="uel-logo" src="/img/UEL_LOGO.png"></a>
    <a href="#"><img class="liv-logo" src="/img/LIVLOGO.png"></a>
    <a href="#"><img class="facup-logo" src="/img/FACUP_LOGO.png"></a>
    <a href="#"><img class="cflc-logo" src="/img/CFLC_LOGO.png"></a>
</div>

<div class="nav-menu">
    <span><a href="#">HISTORY</a></span>
    <span><a href="articles">ARTICLE</a></span>
    <span><a href="test">PLAYER</a></span>
    <span><a href="#">SCHEDULE</a></span>
</div>

<div class="container">

    <div class="advertisement">
        <div class="container-standings">
            <ul>
                <li class="standings w30 mt2">순위</li>
                <li class="standings w100 mt2">클럽</li>
                <li class="standings w30 mt2">경기</li>
                <li class="standings w30 mt2">승</li>
                <li class="standings w30 mt2">무</li>
                <li class="standings w30 mt2">득실</li>
                <li class="standings w30 mt2">승점</li>
            </ul>
            <th:block th:each="team : ${standing}">
                <ul>
                    <li class="standings w30 mt1"><span th:text="${team.position}"></span> </li>
                    <li class="standings w30 mt1"><img th:src="@{${team.team.team_crest}}" alt="no"/></li>
                    <li class="standings w70 mt1"><span th:text="${team.team.team_tla}"></span></li>
                    <li class="standings w30 mt1"><span th:text="${team.played_games}"></span></li>
                    <li class="standings w30 mt1"><span th:text="${team.won}"></span></li>
                    <li class="standings w30 mt1"><span th:text="${team.draw}"></span></li>
                    <li class="standings w30 mt1"><span th:text="${team.goal_difference}"></span></li>
                    <li class="standings w30 mt1"><span th:text="${team.points}"> </span></li>
                </ul>
            </th:block>
        </div>
    </div>

    <div class="section">
        <div class="test">
            <div class="teamInfo">
                <div class="homeTeam">
                    <img class="mb2" th:src="@{${match.home_team.team_crest}}" alt="no">
                    <p class="fw tc" th:text="${match.home_score}"></p>
                </div>
                <div class="matchInfo">
                    <a th:href="@{/match/{id}(id=${match.match_day})}"><p class="fw tc mb67" th:text="Match+${match.match_day}"></p></a>
                    <p class="fw tc mb67">VS</p>
                    <p class="fw tc pb6p" th:text="${match.home_team.venue}"></p>
                </div>
                <div class="awayTeam">
                    <img class="mb2" th:src="@{${match.away_team.team_crest}}" alt="no">
                    <p class="fw tc" th:text="${match.away_score}"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="aside">
        <div class="container-side">
            <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
            <div class="container-userinfo">
                <img th:src="@{${user.picture}}" alt="no">
                <div class="mt2 mb2">
                    <p th:text="${user.name + '님 어서오세요!'}"></p>
                </div>
                <div class="mt2">
                    <button type="button" class="my-profile" onclick="">내 정보</button>
                    <button type="button" class="logout-btn" onclick="location.href='/logout'">로그아웃</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/article.js"></script>
<script src="/js/token.js"></script>
</body>
</html>