<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
    <link rel="stylesheet" href="/css/main.css"> <!-- ref=" stylesheet"은 외부 리소스 가져오는 것-->
</head>

<body>
<header>
    <div class="logo">
        <a th:href="@{/}"><img src="/img/LIV_Logo.png"></a>
        <p>KOP<br>MORNING!</p>
    </div>
    <nav class="ml2">
        <a th:href="@{/}">HOME</a>
        <a th:href="@{/story}">TEAM</a>
        <a th:href="@{/articles}">ARTICLE</a>
        <a href="">LEAGUE</a>
        <a th:href="@{/notice}">NOTICE</a>
    </nav>
    <div class="login">
        <div sec:authorize="isAnonymous()">
            <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">로그인</button>
            <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">회원가입</button>
        </div>
        <div class="user-info" sec:authorize="isAuthenticated()">
            <div th:unless="${user.picture.startsWith('https://')}">
                <img class="mt10 w60 h60 border-circle" th:src="@{'/profileImage/'+ ${user.picture}}" alt="User Image">
            </div>
            <div th:if="${user.picture.startsWith('https://')}">
                <img class="mt10 w60 h60 border-circle" th:src="${user.picture}">
            </div>
            <div>
                <p class="ml1" th:text="|${user.nickname == null ? user.username : user.nickname}님 어서오세요!|"></p>
                <div class="ml2">
                    <button type="button" class="button" onclick="location.href='/myprofil'">내 정보</button>
                    <button type="button" class="button" onclick="location.href='/logout'">로그아웃</button>
                </div>
            </div>
        </div>
    </div>
</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("nav > ul > li").mouseenter(function(){
      $(this).children(".submenu").stop().slideDown(400);
    });
    $("nav > ul > li").mouseleave(function(){
      $(this).children(".submenu").stop().slideUp(100);
    });
</script>
<script src="/js/article.js"></script>
<script src="/js/token.js"></script>
</body>
</html>