<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
    <!--    <link rel="stylesheet" href="/css/jun.css"> &lt;!&ndash; ref=" stylesheet"은 외부 리소스 가져오는 것&ndash;&gt;button-->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<header>
    <div class="alignCenter header-box">
        <div class="logo">
            <a th:href="@{/}"><img src="/img/LIV-LOGO.png"></a>
        </div>
        <nav class="ml2">
            <a th:href="@{/}">HOME</a>
            <a th:href="@{/story}">TEAM</a>
            <a th:href="@{/articles}">ARTICLE</a>
            <a th:href="@{/league}">LEAGUE</a>
            <a th:href="@{/notice}">NOTICE</a>
        </nav>
        <div class="login">
            <div sec:authorize="isAnonymous()">
                <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">로그인</button>
                <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">회원가입</button>
            </div>
            <div class="user-info" sec:authorize="isAuthenticated()">
                <div th:unless="${user.picture.startsWith('https://')}">
                    <img class="mt10 w60 h60 border-circle" th:src="@{'/profileImage/'+ ${user.picture}}" alt="User Image">
                </div>
                <div th:if="${user.picture.startsWith('https://')}">
                    <img class="mt10 w60 h60 border-circle" th:src="${user.picture}" onerror="this.url='/img/default-img.png';">
                </div>
                <div>
                    <p class="ml1" th:text="|${user.nickname == null ? user.username : user.nickname}님 어서오세요!|"></p>
                    <div class="ml2">
                        <button type="button" class="button" onclick="location.href='/myprofil'">내 정보</button>
                        <button type="button" class="button" onclick="location.href='/logout'">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="profile-container">
    <h2 class="fw left">내 정보</h2>
    <div th:unless="${user.picture.startsWith('https://')}">
        <img class="w140 h140 border-circle" th:src="@{'/profileImage/'+ ${user.picture}}" alt="User Image">
    </div>
    <div  th:if="${user.picture.startsWith('https://')}">
        <img class="w140 h140 border-circle" th:src="${user.picture}">
    </div>
    <form th:action="@{/image/upload}" th:method="post" enctype="multipart/form-data">
        <input class="fw" id="profileImage" type="file" name="file" accept="image/*" required>
        <button class="button" type="submit" id="image-modify">이미지 수정</button>
    </form>
    <div class="profile">
        <div class="left">
            <p>아이디</p>
            <p>이메일</p>
            <p class="pd5">닉네임</p>
            <p class="pd5">년도는</p>
            <p class="pd5">이유는</p>
            <button type="button" class="button modify-btn">수정하기</button>
        </div>
        <div class="right">
            <p th:text="${user.username}"></p>
            <p th:text="${user.email}"></p>
            <p class="pd5" id="nickname" th:text="${user.nickname}"></p>
            <input id="inputNickname" type="text" style="display:none;" placeholder="닉네임 입력...">
            <p class="pd5" id="year" th:text="${user.year == null ? '[미입력]' : user.year}"></p>
            <input id="inputYear" type="number" style="display:none;" placeholder="년도 입력...">
            <p class="pd5" id="reason" th:text="${user.reason == null ? '[미입력]' : user.reason}"></p>
            <input id="inputReason" type="text" style="display:none;" placeholder="이유 입력...">
            <div class="btn">
                <button style="display:none;" type="button" id="completeBtn" class="button"><img class="w15 h15" src="/img/green-check.png"/>완료</button>
                <button style="display:none;" type="button" id="cancelBtn" class="button ml0"><img class="w15 h15" src="/img/red-x.png"/>취소</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/article.js"></script>
<script src="/js/profile.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="sweetalert2.all.min.js"></script>
</body>
</html>