<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그 글</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="p-5 mb-5 text-center</> bg-light">
        <h1 style="color:#FF0000" class="mb-3">LIVERPOOL BOLG</h1>
        <h4 style="color:#000000" class="mb-3">WELCOME TO KOPS BOLG!</h4>
    </div>
    <div class="container mt-5">
        <div class="low">
            <div class="col-lg-8">
                <article>
                    <input type="hidden" id="article-id" th:value="${article.id}">

                    <header class="mb-4">
                        <input type="text" class="form-control" placeholder="제목" id="title" th:value="${article.title}">
                    </header>

                    <section class="mb-5">
                        <textarea class="form-control h-25" rows="10" placeholder="내용" id="content" th:text="${article.content}"></textarea>
                    </section>

                    <div class="mb-4">
                        <input type="file" id="image" accept="image/gif, image/jpeg, image/png" multiple="multiple/">
                    </div>

                    <button th:if="${article.id} != null" type="button" id="modify-btn" class="btn btn-primary btn-sm">수정</button>
                    <button th:if="${article.id} == null" type="button" id="create-btn" class="btn btn-primary btn-sm">등록</button>
                </article>
            </div>
            <div class="comment-container">

            </div>
        </div>
    </div>
    <script src="/js/article.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="sweetalert2.all.min.js"></script>
</body>
</html>