<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>팀 역사</title>
    <link rel="stylesheet" href="/css/main.css"> <!-- ref=" stylesheet"은 외부 리소스 가져오는 것-->
</head>

<body>
<header>
    <div class="alignCenter header-box">
        <div class="logo">
            <a th:href="@{/}"><img src="/img/LIV-LOGO.png"></a>
        </div>
        <nav class="ml2">
            <a th:href="@{/}">HOME</a>
            <a th:href="@{/story}">TEAM</a>
            <a th:href="@{/articles}">ARTICLE</a>
            <a th:href="@{/league}">LEAGUE</a>
            <a th:href="@{/notice}">NOTICE</a>
        </nav>
        <div class="login">
            <div sec:authorize="isAnonymous()">
                <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">로그인</button>
                <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">회원가입</button>
            </div>
            <div class="user-info" sec:authorize="isAuthenticated()">
                <div th:unless="${user.picture.startsWith('https://')}">
                    <img class="mt10 w60 h60 border-circle" th:src="@{'/profileImage/'+ ${user.picture}}" alt="User Image">
                </div>
                <div th:if="${user.picture.startsWith('https://')}">
                    <img class="mt10 w60 h60 border-circle" th:src="${user.picture}" onerror="this.url='/img/default-img.png';">
                </div>
                <div>
                    <p class="ml1" th:text="|${user.nickname == null ? user.username : user.nickname}님 어서오세요!|"></p>
                    <div class="ml2">
                        <button type="button" class="button" onclick="location.href='/myprofil'">내 정보</button>
                        <button type="button" class="button" onclick="location.href='/logout'">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="info-table">
        <div class="top">
            <div class="alignCenter">
                <img th:src="${team.crest}">
                <p th:text="${team.name}"></p>
            </div>
            <div class="alignCenter">
                <table class="coach-table fontWhite">
                    <tr>
                        <th class="font-size20" colspan="2">감독</th>
                        <th class="font-size20">경기장</th>
                    </tr>
                    <tr>
                        <td class="font-size20" th:text="${team.coach_name}"></td>
                        <td><div id="countryName" th:text="${team.coachNationality}" style="display: none;"></div>
                            <div id="flagContainer"></div></td>
                        <td class="font-size20" th:text="${team.venue}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="bottom">
            <div class="team-nav">
                <a th:href="@{/schedule/id(id=${team.id})}">경기 일정</a>
                <a th:href="@{/stat/id(id=${team.id})}">통계</a>
                <a th:href="@{/team/id(id=${team.id})}">스쿼드</a>
            </div>
            <div class="team-player">
                <ul class="header">
                    <li>이름</li>
                    <li>국적</li>
                    <li>등번호</li>
                    <li>경기수</li>
                    <li>득점</li>
                    <li>평점</li>
                    <li>교체</li>
                    <li>도움</li>
                    <li>패스</li>
                    <li>키패스</li>
                    <li>드리블 시도</li>
                    <li>드리블 성공</li>
                    <li>태클</li>
                    <li>나이</li>
                </ul>
                <ul th:each="player : ${playerList}" class="test">
                    <input type="hidden" id="player-id" th:value="${player.id}">
                    <li th:text="${player.name}">Name</li>
                    <li th:text="${player.nationality}">Nationality</li>
                    <li th:text="${player.number}">Number</li>
                    <li th:text="${player.matchPlayed}">Matches Played</li>
                    <li th:text="${player.goals}">Goals</li>
                    <li th:text="${player.rating}">Rating</li>
                    <li th:text="${player.substitutesOnBench}">Substitutes</li>
                    <li th:text="${player.assists}">Assists</li>
                    <li th:text="${player.passes}">Passes</li>
                    <li th:text="${player.keyPasses}">Key Passes</li>
                    <li th:text="${player.dribbleAttempts}">Dribble Attempts</li>
                    <li th:text="${player.dribbleSucc}">Dribble Success</li>
                    <li th:text="${player.tackles}">Tackles</li>
                    <li th:text="${player.age}">Age</li>
                </ul>
            </div>
            <div class="stat-box">
                <div class="mb0 dpFlex h50p">
                    <div class="rank-box">
                        <p class="textCenter fontWhite">Top Score</p>
                        <div class="top-score" th:each="topScore, index : ${topScore}">
                            <img class="w20p" th:src="${topScore.image}" onerror="this.src='/img/default-img.png';">
                            <div class="ml0 w60p fontWhite font-size14">
                                <p th:text="${topScore.name}"></p>
                                <img class="w20 h20" th:src="${topScore.team_crest}"><span th:text="${topScore.team_tla}"></span>
                            </div>
                            <p th:classappend="${index.index == 0} ? 'bg-circle-red' : ''"
                               class="w20p fontWhite alignCenter"
                               th:text="${topScore.score}">
                            </p>
                        </div>
                    </div>

                    <div class="rank-box">
                        <p class="textCenter fontWhite">Top Assist</p>
                        <div class="top-assist" th:each="topAssist, index : ${topAssist}">
                            <img class="w20p" th:src="${topAssist.image}" onerror="this.src='/img/default-img.png';">

                            <div class="ml0 w60p fontWhite font-size14">
                                <p th:text="${topAssist.name}"></p>
                                <img class="w20 h20" th:src="${topAssist.team_crest}"><span th:text="${topAssist.team_tla}"></span>
                            </div>
                            <p th:classappend="${index.index == 0} ? 'bg-circle-red' : ''"
                               class="w20p fontWhite alignCenter"
                               th:text="${topAssist.assist}">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="dpFlex h50p">
                    <div class="rank-box">
                        <p class="textCenter fontWhite">Top KeyPass</p>
                        <div class="top-keyPass" th:each="topKeyPass, index : ${topKeyPass}">
                            <img class="w20p" th:src="${topKeyPass.image}" onerror="this.src='/img/default-img.png';">
                            <div class="ml0 w60p fontWhite font-size14">
                                <p th:text="${topKeyPass.name}"></p>
                                <img class="w20 h20" th:src="${topKeyPass.team_crest}"><span th:text="${topKeyPass.team_tla}"></span>
                            </div>
                            <p th:classappend="${index.index == 0} ? 'bg-circle-red' : ''"
                               class="w20p fontWhite alignCenter"
                               th:text="${topKeyPass.key_pass}">
                            </p>
                        </div>
                    </div>
                    <div class="rank-box">
                        <p class="textCenter fontWhite">Top Rating</p>
                        <div class="top-rating" th:each="topRating, index : ${topRating}">
                            <img class="w20p" th:src="${topRating.image}" onerror="this.src='/img/default-img.png';">
                            <div class="ml0 w60p fontWhite font-size14">
                                <p th:text="${topRating.name}"></p>
                                <img class="w20 h20" th:src="${topRating.team_crest}"><span th:text="${topRating.team_tla}"></span>
                            </div>
                            <p th:classappend="${index.index == 0} ? 'bg-circle-red' : ''"
                               class="w20p fontWhite alignCenter"
                               th:text="${topRating.rating}">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<footer>
    <p>Blog owner's info and social media links</p>
    <p>&copy; 2024 Liverpool F.C. Fan Blog. All rights reserved.</p>
    <nav>
        <ul>
            <li><a href="#">Site Map</a></li>
        </ul>
    </nav>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/article.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let coachCountryName = document.getElementById("countryName").innerText;
        if (coachCountryName === 'England') {
            coachCountryName = 'United Kingdom';
        }
        fetchFlag(coachCountryName, "flagContainer");
    }
</script>
<script src="/js/token.js"></script>
</body>
</html>