<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>팀 역사</title>
    <link rel="stylesheet" href="/css/main.css"> <!-- ref=" stylesheet"은 외부 리소스 가져오는 것-->
</head>

<body>
<header>
    <div class="alignCenter header-box">
        <div class="logo">
            <a th:href="@{/}"><img src="/img/LIV-LOGO.png"></a>
        </div>
        <nav class="ml2">
            <a th:href="@{/}">HOME</a>
            <a th:href="@{/story}">TEAM</a>
            <a th:href="@{/articles}">ARTICLE</a>
            <a th:href="@{/league}">LEAGUE</a>
            <a th:href="@{/notice}">NOTICE</a>
        </nav>
        <div class="login">
            <div sec:authorize="isAnonymous()">
                <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">로그인</button>
                <button class="button" th:onclick="'window.location.href = \'' + @{/loginForm} + '\''">회원가입</button>
            </div>
            <div class="user-info" sec:authorize="isAuthenticated()">
                <div th:unless="${user.picture.startsWith('https://')}">
                    <img class="mt10 w60 h60 border-circle" th:src="@{'/profileImage/'+ ${user.picture}}" alt="User Image">
                </div>
                <div th:if="${user.picture.startsWith('https://')}">
                    <img class="mt10 w60 h60 border-circle" th:src="${user.picture}" onerror="this.url='/img/default-img.png';">
                </div>
                <div>
                    <p class="ml1" th:text="|${user.nickname == null ? user.username : user.nickname}님 어서오세요!|"></p>
                    <div class="ml2">
                        <button type="button" class="button" onclick="location.href='/myprofil'">내 정보</button>
                        <button type="button" class="button" onclick="location.href='/logout'">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="history">
    <div class="layout">
        <div>
            <div class="champions-wall">
                <img src="/img/TheChampionsWalls.png" alt="The Champions Wall">
            </div>
            <div class="champions-list">
                <h2>우승 기록</h2>
                <ul>
                    <li class="league" data-years="1900-01, 1905-06, 1921-22, 1922-23, 1946-47,1963-64, 1965-66,
                                                   1972-73, 1975-76, 1976-77,1978-79, 1979-80, 1981-82, 1982-83,
                                                   1983-84,1985-86, 1987-88, 1989-90, 2019-20">프리미어 리그</li>
                    <li class="league" data-years="1976-77, 1977-78, 1980-81, 1983-84, 2004-05, 2018-19">챔피언스 리그</li>
                    <li class="league" data-years="1964-65, 1973-74, 1985-86, 1988-89, 1991-92,
                                                   2000-01, 2005-06, 2021-22">FA컵</li>
                    <li class="league" data-years="1980-81, 1981-82, 1982-83, 1983-84, 1994-95,
                                                   2000-01, 2002-03, 2011-12, 2021-22, 2023-24">EFL컵</li>
                    <li class="league" data-years="1977, 2001, 2005, 2019">슈퍼컵</li>
                    <li class="league" data-years="2019">클럽 월드컵</li>
                </ul>
                <div class="champion-years" id="champion-years">
                    <!-- 여기에 우승 년도가 표시됩니다 -->
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="event" data-details="details-1892">
                <h2>1892</h2>
                <p>리버풀 FC 창단</p>
            </div>
            <div class="event" data-details="details-1965">
                <h2>1965</h2>
                <p>첫 FA컵 우승</p>
            </div>
            <div class="event" data-details="details-1977">
                <h2>1977</h2>
                <p>첫 유러피언 컵 우승</p>
            </div>
            <div class="event" data-details="details-2005">
                <h2>2005</h2>
                <p>이스탄불의 기적</p>
            </div>
            <div class="event" data-details="details-2015">
                <h2>2015</h2>
                <p>위르겐 클롭 부임</p>
            </div>
            <div class="event" data-details="details-2019-barca">
                <h2>2019</h2>
                <p>안필드의 기적</p>
            </div>
            <div class="event" data-details="details-2019">
                <h2>2019</h2>
                <p>여섯 번째 챔피언스 리그 우승</p>
            </div>
            <div class="event" data-details="details-2020">
                <h2>2020</h2>
                <p>프리미어 리그 챔피언</p>
            </div>
        </div>
        <div class="details-container">
            <div id="details-1892" class="details">
                <h2>1892</h2>
                <p>리버풀 FC 창단</p>
                <p>리버풀 FC는 1892년에 창단되었습니다. 에버턴 FC 이사회와 존 홀딩(클럽 회장 겸 안필드 구장 소유자) 간의 분쟁 후, 홀딩은 자신만의 팀을 창설하기로 결정했습니다. 클럽은 초기에 빨간색과 흰색 유니폼을 사용했으나, 1964년에 현재의 올 레드 유니폼으로 변경했습니다.</p>
                <img src="/img/1892.jpg">
            </div>
            <div id="details-1965" class="details">
                <h2>1965</h2>
                <p>첫 FA컵 우승</p>
                <p>1965년 5월 1일, 리버풀은 웸블리 스타디움에서 열린 결승전에서 리즈 유나이티드를 2-1로 물리치고 역사상 첫 FA컵을 차지했습니다. 로저 헌트와 이안 세인트 존이 각각 한 골씩 득점하여 팀의 승리를 이끌었습니다. 이 승리는 클럽의 새로운 성공 시대의 시작을 알렸습니다.</p>
            </div>
            <div id="details-1977" class="details">
                <h2>1977</h2>
                <p>첫 유러피언 컵 우승</p>
                <p>1977년 5월 25일, 리버풀은 로마에서 열린 유러피언 컵 결승전에서 보루시아 묀헨글라트바흐를 3-1로 이기고 첫 유러피언 컵을 차지했습니다. 테리 맥더모트, 토미 스미스, 그리고 필 닐이 각각 한 골씩 득점하여 승리를 이끌었습니다. 이 승리는 클럽이 향후 다섯 번의 유러피언 컵 타이틀을 획득하는 시작이었습니다.</p>
            </div>
            <div id="details-2005" class="details">
                <h2>2005</h2>
                <p>이스탄불의 기적</p>
                <p>2005년 5월 25일, 리버풀은 이스탄불에서 열린 챔피언스 리그 결승전에서 AC 밀란과 맞붙었습니다. 하프타임에 3-0으로 뒤지던 리버풀은 스티븐 제라드, 블라디미르 스미체르, 그리고 샤비 알론소의 골로 3-3 동점을 만들었습니다. 이후 승부차기에서 3-2로 승리하여 챔피언스 리그 우승을 차지했습니다. 이 경기는 '이스탄불의 기적'으로 불리며 축구 역사상 가장 위대한 역전극 중 하나로 손꼽힙니다.</p>
                <img src="/img/2005winner.jpg">
            </div>
            <div id="details-2015" class="details">
                <h2>2015</h2>
                <p>위르겐 클롭 부임</p>
                <p>위르겐 클롭은 2015년 10월 리버풀 FC의 감독으로 부임하였습니다. 클롭은 '헤비메탈 축구'라고 불리는 공격적이고 빠른 템포의 축구를 도입하여 팀의 플레이 스타일을 혁신적으로 바꾸었습니다. 클롭은 리버풀에서 들 수 있는 모든 대회의 트로피를 들고나서 팬들의 감사의 박수를 받으며 좋게 리버풀과 이별했습니다. Danke Jürgen !</p>
                <img src="/img/jurgen2.jpg">
            </div>
            <div id="details-2019-barca" class="details">
                <h2>2019</h2>
                <p>안필드의 기적</p>
                <p>2019년 5월 7일, 리버풀은 FC 바르셀로나와의 준결승 1차전을 3:0으로 패배한 이후 UEFA 챔피언스 리그 준결승 2차전에서 FC 바르셀로나를 4-0으로 물리치며 총합 4-3으로 결승에 진출했습니다. 디보크 오리기와 조르지니오 바이날둠이 각각 두 골씩 넣어 승리를 이끌었고, 트렌트 알렉산더-아놀드의 빠른 코너킥은 오리기의 결승골로 이어졌습니다. 이 경기는 "안필드의 기적"으로 불리며 축구 역사에 길이 남을 역전극입니다.</p>
                <img src="/img/YNWA.jpg">
            </div>
            <div id="details-2019" class="details">
                <h1>2019</h1>
                <h2>여섯 번째 챔피언스 리그 우승</h2>
                <p>2019년 6월 1일, 리버풀은 마드리드에서 열린 챔피언스 리그 결승전에서 토트넘 핫스퍼를 2-0으로 물리치고 여섯 번째 유러피언 컵을 차지했습니다. 모하메드 살라가 경기 시작 2분 만에 페널티킥으로 선제골을 넣었고, 디보크 오리기가 경기 종료 직전에 추가골을 넣었습니다. 이 승리는 리버풀이 유럽의 엘리트 클럽 중 하나로서의 지위를 다시 한 번 확고히 했습니다.</p>
                <img src="/img/2019winner.jpg">

            </div>
            <div id="details-2020" class="details">
                <h2>2020</h2>
                <p>프리미어 리그 챔피언</p>
                <p>2020년, 리버풀은 클럽 역사상 처음으로 프리미어 리그 우승을 차지하며 30년 만에 리그 타이틀을 획득했습니다. 위르겐 클롭 감독이 이끄는 팀은 리그를 지배하며 시즌 내내 뛰어난 활약을 펼쳤습니다. 리버풀은 38경기 중 32승을 거두고, 2위 팀에 18점 차이로 우승을 확정지었습니다. 이 시즌은 팬들에게 오랫동안 기억될 것입니다.</p>
                <img src="/img/2020winner.jpg">
            </div>
        </div>
    </div>
</section>
<footer>
    <p>Blog owner's info and social media links</p>
    <div>
        <img class="w30 h30" src="/img/email_icon.png"> <a href="mailto:junho767@naver.com">junho767@naver.com</a>, <a href="mailto:worms773789@gmail.com">worms773789@gmail.com</a>
    </div>
    <div>
        <img class="w30 h30" src="/img/Github_icon.png">GitHub: <a href="https://github.com/junho767/Kopmorning-capstone">Git Hub</a>
    </div>
    <p>&copy; 2024 Liverpool F.C. Fan Blog. All rights reserved.</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/story.js"></script>
<script src="/js/token.js"></script>
</body>
</html>